<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>OOP Form test</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h4>This is to test out the addSong feature</h4>
        <form method="post" action="oop/oopformphp.php">
            <input name="song_name" required type="text" max="20"><br>
            <input name="song_desc" required type="text" max="20"><br>
            <input name="lyrics" type="textarea" max="20"><br>
            <input name="submit" type="submit">
        </form>
    </body>
</html>