li h4 {
   display: inline-block;
   padding: 10px;
}

textarea {
   height: 150px;
   max-height: 450px;
   max-width: 850px;
   font-size: 1em;
}

input[name="sname"], input[name="stags"], textarea, select, #uplcont button {
  width: 750px;
  max-width: 800px;
  margin: 0;

   -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
   -moz-box-sizing: border-box; /* For all Gecko based browsers */
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

input[type="file"] {
   margin: 30px;
}

#upldcont {
   position: relative;
   display: block;
   max-width: 85%;
   margin: auto;
}

#upldcont input {
   padding: 4px;
   display: inline;
}

#submit {
   float: right;
}